// every variables to settle the style

// COLORS

$clr-white: #ffffff;
$clr-black: black;
$clr-orange: #e75231;
$clr-primary: #434343;
$clr-secondary: #e3382e;
$clr-gradient: linear-gradient(
  90deg,
  #fad127,
  #fac82a,
  #fbb72f,
  #fcab34,
  #fc9b39,
  #fd8f3c,
  #fd843f,
  #fe7744,
  #fe6b47,
  #ff5e4c,
  #ff544f,
  #ff544f
);
// $clr
// $clr

// BODY FONT
$font-body: "lato";
$font-title: "Playfair Display";
$font-thin: thin;
$font-regular: normal;
$font-bold: bold;
$font-bolder: bolder;
$font-heavy: 900;

// LE RESPONSIVE
