// every variables to settle the style

// COLORS

$clr-white: #ffffff;
$clr-black: black;
$clr-orange: #e75231;
$clr-primary: #434343;
$clr-secondary: #e3382e;
// $clr-gradient:;
// $clr
// $clr

// BODY FONT
$font-body: "lato";
$font-title: "Playfair Display";
$font-thin: thin;
$font-regular: normal;
$font-bold: bold;
$font-bolder: bolder;
$font-heavy: 900;

// LE RESPONSIVE
